:root {
  --pixel-size: 8px;
}

.pixel {
  width: var(--pixel-size);
  height: var(--pixel-size);
  border: 0.5px solid rgba(200, 200, 200, 0.15);
  box-sizing: border-box;
  cursor: crosshair;
  transition: filter 0.05s;

  &:hover {
    filter: brightness(1.3);
    z-index: 1;
    position: relative;
  }
}